.container {
  .title {
    margin-top: 40px;
  }
  .row {
    margin: 20px;

    p {
      font-size: 14px;
      font-family: 'Barlow Semi Condensed', sans-serif;
      margin: 10px auto 10px 10px;
    }
  }
}
